<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

  <application>
    <receiver
      android:name=".UpdateDownloadReceiver"
      android:exported="true"
      android:permission="android.permission.SEND_DOWNLOAD_COMPLETED_INTENTS">
      <intent-filter>
        <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
      </intent-filter>
    </receiver>

    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.mindoff-updater-provider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/mindoff_updater_paths" />
    </provider>
  </application>
</manifest>
